.text__heading{
    font-weight: 700;
    line-height: 1.5;
    font-size: 2.6rem;
    color: #454eec;
}

.text__desc{
    color: #454a51;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    margin-top: 20px;
}

.introduct-wrap{
    padding: 60px 0;
}

.introduct__title{
    color: #000339;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 1;
    margin: 20px 0;
}

.introduct{
    display: flex;
    padding: 50px 0;
}

.introduct__media{
    flex: 1;
}

.introduct__images{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.introduct__img{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.introduct__img:first-child{
    margin-top: 36px;
}

.introduct__content{
    width: 46%;
}

.best-wrap{
    padding: 50px 0;
}

.best{
    margin-top: 20px;
}

.best__heading{
    text-align: center;
}

.best__title{
    font-weight: 700;
    line-height: 1.5;
    font-size: 2.6rem;
    color: #454eec;
    margin-bottom: 30px;
    text-align: center;
}

.best__item{
    background-color: #bcd4f7;
    border-radius: 6px;
    text-align: center;
    padding: 30px 10px 20px 10px;
    margin-bottom: 20px;
}

.best__item-img{
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

.best__item-desc{
    color: #0e0e0e;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 24px;
    min-height: 50px;
    text-align: center;
}

.teacher-wrap{
    padding: 50px 0;
}

.teacher{
    display: flex;
    gap: 30px;
}

.teacher__content{
    width: 35%;
}

.teacher__media{
    flex: 1;
}

.teacher__img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 16px;
}

.slogan-wrap{
    padding: 50px 0 100px;
}

.slogan{

}

.slogan__content{
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.slogan__official{
    margin-top: 50px;
    position: relative;
}

.slogan__official blockquote{
    text-align: center;
    color: #454eec;
    font-size: 2.8rem;
}

